apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  POSTGRES_PASSWORD: {{ .Values.db.secret | b64enc | default ( randAlphaNum 12 | b64enc ) }}